<%- model_class = League -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @league.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type) %>:</strong></dt>
  <dd><%= @league.league_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:groups_count) %>:</strong></dt>
  <dd><%= @league.groups_count %></dd>
  <dt><strong><%= model_class.human_attribute_name(:teams_count) %>:</strong></dt>
  <dd><%= @league.teams_count %></dd>
</dl>

<!-- Show Teams -->
<% @league_groups.each do |k,group_teams| %>
  <h3><%= "Grupo #{k.upcase}" %></h3>
  <table class="table table-striped col-md-3">
    <thead>
      <tr>
        <!-- <th><%= model_class.human_attribute_name(:id) %></th> -->
        <!-- <th><%= model_class.human_attribute_name(:name) %></th> -->
        <!-- <th><%= model_class.human_attribute_name(:type) %></th> -->
        <!-- <th><%= model_class.human_attribute_name(:groups_count) %></th> -->
        <!-- <th><%= model_class.human_attribute_name(:teams_count) %></th> -->
        <!-- <th><%= model_class.human_attribute_name(:created_at) %></th> -->
        <!-- <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
        <th class="col-md-1"></th>
        <th class="col-md-2">Nombre</th>
        <th class="col-md-1">Puntos</th>
        <th class="col-md-1">PJ</th>
        <th class="col-md-1">PG</th>
        <th class="col-md-1">PP</th>
        <th class="col-md-1">PE</th>
        <th class="col-md-1">GF</th>
        <th class="col-md-1">GC</th>
        <th class="col-md-1">D</th>
      </tr>
    </thead>
    <tbody>
      <% group_teams.each do |league_team| %>
        <tr>
          <td><%= league_team.team.code %></td>
          <td><%= league_team.team.name %></td>
          <td><%= league_team.points %></td>
          <td><%= league_team.matches_played %></td>
          <td><%= league_team.matches_won %></td>
          <td><%= league_team.matches_lost %></td>
          <td><%= league_team.matches_tied %></td>
          <td><%= league_team.goals_scored %></td>
          <td><%= league_team.goals_against %></td>
          <% diff = (league_team.goals_scored.to_i - league_team.goals_against.to_i) %>
          <td><%= diff %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h2>Fixture</h2>
<!-- Show Playoff -->
<% @groups_matches.each do |k,matches| %>
  <h3><%= "Fecha #{k}" %></h3>
  <table class="table table-striped col-md-3">
    <thead>
      <tr>
        <th class="col-md-2">Fecha</th>
        <th class="col-md-2">Local</th>
        <th class="col-md-1"></th>
        <th class="col-md-1"></th>
        <th class="col-md-2">Visitante</th>
        <th class="col-md-2">Apuesta</th>
      </tr>
    </thead>
    <tbody>
      <% matches.each do |match| %>
        <tr>
          <td><%= match.date %></td>
          <td><%= match.local_team.name %></td>
          <td><%= match.local_score %></td>
          <td><%= match.away_score %></td>
          <td><%= match.away_team.name %></td>
          <td><% 
            if !@user_bets[match.id].nil?
              case @user_bets[match.id].bet
              when 0
                concat "empate"
              when 1
                concat "local"
              when 2
                concat "visitante"
              end
            end
          %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h2>Playoff</h2>
<!-- Show Playoff -->
<% @playoff_matches.each do |k,matches| %>
  <h3><%= @playoff_labels[k] %></h3>
  <table class="table table-striped col-md-3">
    <thead>
      <tr>
        <th class="col-md-2">Fecha</th>
        <th class="col-md-2">Local</th>
        <th class="col-md-1"></th>
        <th class="col-md-1"></th>
        <th class="col-md-2">Visitante</th>
        <th class="col-md-2">Apuesta</th>
      </tr>
    </thead>
    <tbody>
      <% matches.each do |match| %>
        <tr>
          <td><%= match.date %></td>
          <td><%= match.local_team.name %></td>
          <td><%= match.local_score %></td>
          <td><%= match.away_score %></td>
          <td><%= match.away_team.name %></td>
          <td><% 
            if !@user_bets[match.id].nil?
              case @user_bets[match.id].bet
              when 0
                concat "empate"
              when 1
                concat "local"
              when 2
                concat "visitante"
              end
            end
          %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<!-- 
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              leagues_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_league_path(@league), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              league_path(@league),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
 -->

<div ng-controller="MatchesCtrl">
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-2">Fecha</th>
      <th class="col-md-2">Local</th>
      <th class="col-md-1"></th>
      <th class="col-md-1"></th>
      <th class="col-md-2">Visitante</th>
      <th class="col-md-2">Apuesta</th>
    </tr>
  </thead>
  <tbody>
      <tr ng-repeat="match in matches | filter: {name: searchName }">
        <td>{{match.date}}</td>
        <td>{{match.local_team.team.name}}</td>
        <td>{{match.local_score}}</td>
        <td>{{match.away_score}}</td>
        <td>{{match.away_team.team.name}}</td>
        <td>{{match.bets.bet.bet}}</td>
      </tr>
  </tbody>
</table>
</div>