<h2>Edit <%= resource_name.to_s.humanize %></h2>


  <%= devise_error_messages! %>

  <div> Nombre: <%= best_in_place resource, :name, path: 'create' %>

  <div> Fecha Nacimiento: <%= best_in_place resource, :birthday, path: 'create', :type => :date %>

  <div> Pais: <%= best_in_place resource, :country, :type => :select, :collection => [[1, "Argentina"], [2, "Italy"], [3, "Germany"], [4, "France"]], path: 'create' %>
  

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f| %>
  <div><% if resource.avatar.exists? %>
    <%= image_tag resource.avatar.url(:medium) %>
  <div><%= f.label :avatar, "Cambia tu foto" %><br />
  <%= f.file_field :avatar %></div>
  <% else %>
  <div><%= f.label :avatar, "Subi tu foto" %><br />
  <%= f.file_field :avatar %></div>
  <% end %>

  

  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>
