<div class="page-header">
	<h1>Mi perfil</h1>
	<h4>Podés editar tu perfil en linea, haciendo click sobre el campo a editar</h4>
	<h4>Los cambios se guardarán automaticamente! no es grandioso? =)</h4>
</div>

<div class="my-profile-left-panel">
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f| %>
		<% if resource.avatar.exists? %>
			<div class="profile-avatar"><%= image_tag resource.avatar.url(:large) %><i class="fa fa-upload"></i></div>
		<% else %>
			<div class="profile-avatar"><%= image_tag resource.avatar.url(:default) %><i class="fa fa-upload"></i></div>
		<% end %>
		<div class="hide">
			<%= f.file_field :avatar %>
		</div>
	<% end %>
</div>
<div class="my-profile-right-panel">
	<div class="profile-row">
		<label>Email</label>
		<span class="bold"><%= resource.email %></span>
	</div>
	<div class="profile-row">
		<label>Nombre</label>
		<%= best_in_place resource, :name, :path => 'create', :classes => 'edit-username' %>
	</div>
	<div class="profile-row">
		<label>Apellido</label>
		<%= best_in_place resource, :lastname, :path => 'create' %>
	</div>
	<div class="profile-row">
		<label>Pais</label>
		<%= best_in_place resource, :country, :type => :select, :path => 'create', :collection => country_translations %>
	</div>
	<div class="profile-row">
		<label>Fecha Nacimiento</label>
		<%= best_in_place resource, :birthdate, :type => :date, :path => 'create' %>
	</div>
</div>