<div ng-init="init(<%= @user_group.id %>)">

<%- model_class = UserGroup -%>
<div class="page-header">
	<% if (@user_group.league.name == "Torneo Final 2014") %>
		<div class="league-avatar"><%= image_tag ('logos/afa.png') %></div>
	<% else %>
		<div class="league-avatar"><%= image_tag ('logos/fifa_wc2014.png') %></div>
	<% end %>
	<h1><%= @user_group.name %></h1>
	<h3><%= @user_group.league.name %></h3>
</div>

<% 
	if (@user_group.league.name == "Torneo Final 2014")
		base_img = 'afa'
	else
		base_img = 'fifa'
	end
%>

<!-- Show Teams by league date -->
<% @league_groups.each do |k,group_teams| %>
	<table class="table table-hover tbl-standing">
		<caption class="table-title"><%= (k.nil?) ? "" : "Grupo #{k.upcase}" %></caption>
		<thead>
			<tr>
				<th class="col-md-1"></th>
				<th class="col-md-3 tbl-teamname">Nombre</th>
				<th class="col-md-1">PJ</th>
				<th class="col-md-1">PG</th>
				<th class="col-md-1">PP</th>
				<th class="col-md-1">PE</th>
				<th class="col-md-1">GF</th>
				<th class="col-md-1">GC</th>
				<th class="col-md-1">D</th>
				<th class="col-md-1">Pts</th>
			</tr>
		</thead>
		<tbody>
			<% position = 1 %>
			<% group_teams.each do |league_team| %>
				<tr>
					<td><%= position %></td>
					<td class="tbl-teamname tbl-team-<%= league_team.team.code.downcase %>">
						<img src="/assets/teams/<%= base_img %>/<%= league_team.team.code.downcase %>_thumb.png" ></img>
						<label><%= league_team.team.name %></label>
					</td>
					<td><%= league_team.matches_played %></td>
					<td><%= league_team.matches_won %></td>
					<td><%= league_team.matches_lost %></td>
					<td><%= league_team.matches_tied %></td>
					<td><%= league_team.goals_scored %></td>
					<td><%= league_team.goals_against %></td>
					<% diff = (league_team.goals_scored.to_i - league_team.goals_against.to_i) %>
					<td><%= diff %></td>
					<td><%= league_team.points %></td>
				</tr>
				<% position+=1 %>
			<% end %>
		</tbody>
	</table>
<% end %>

<h2>Fixture</h2>

<table class="table tbl-fixture" ng-repeat="(league_date, league_date_matches) in matches" ng-cloak class="ng-cloak">
	<caption class="table-title">Fecha {{league_date+1}}</caption>
	<thead>
		<tr>
			<th class="col-md-1"></th>
			<th class="col-md-2"></th>
			<th class="col-md-3"></th>
			<th class="col-md-3"></th>
			<th class="col-md-3"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="match in league_date_matches">
			<td class="tbl-date">
				<span>{{match.date | date: 'EEE d MMM.'}}</span>
				<span>{{match.date | date: 'yyyy'}}</span>
				<span class="bold">Fecha {{match.league_date}}</span>
			</td>
			<!-- <td class="tbl-score">{{match.date.strftime("%k:%M")}}</td> -->
			<td class="tbl-score">
				<div ng-class="{'hide' : (match.is_expired)}">
					{{match.date | date: 'HH:mm'}}
				</div>
				<div class="bet-score" ng-class="{'hide' : (!match.is_expired), 'win' : (my_bets[match.id].bet.win)}">
					<span>+{{{true: my_bets[match.id].bet.score, false: 0}[my_bets[match.id].bet != null]}}</span>
					<p>{{{true: my_bets[match.id].bet.bet_label, false: '-'}[my_bets[match.id].bet != null]}}</p>
				</div>
			</td>
			<td class="tbl-teamname tbl-teamlocal tbl-team-{{match.local_team.team.code | lowercase}}">
				<div ng-class="{'hide' : (match.is_expired)}">
					<button class="btn-press" ng-class="{'active' : (my_bets[match.id].bet.bet==1)}" ng-model="my_bets[match.id].bet.bet" value="1" ng-click='betMatch(<%= @user_group.id %>, match.id, 1)'>
						<img ng-src="/assets/teams/<%= base_img %>/{{match.local_team.team.code | lowercase}}_medium.png" ></img>
						<label>{{match.local_team.team.name}}</label>
					</button>
				</div>
				<div class="text-center" ng-class="{'hide' : (!match.is_expired)}">
					<img ng-src="/assets/teams/<%= base_img %>/{{match.local_team.team.code | lowercase}}_medium.png" ></img>
					<label>{{match.local_team.team.name}}</label>
				</div>
			</td>
			<td class="tbl-tied">
				<div ng-class="{'hide' : (match.is_expired)}">
					<button class="btn-press" ng-class="{'active' : (my_bets[match.id].bet.bet==0)}" ng-model="my_bets[match.id].bet.bet" value="0" ng-click='betMatch(<%= @user_group.id %>, match.id, 0)'>
						<label>EMPATE<label>
					</button>
				</div>
				<div ng-class="{'hide' : (!match.is_expired)}">
					<label>
						{{{true: match.local_score, false: 0}[match.local_score != nill]}}
						-
						{{{true: match.away_score, false: 0}[match.away_score != nill]}}
					</label>
					<!-- <label>{{match.local_score}} - {{match.away_score}}<label> -->
				</div>
			</td>
			<td class="tbl-teamname tbl-teamaway tbl-team-{{match.away_team.team.code | lowercase}}">
				<div ng-class="{'hide' : (match.is_expired)}">
					<button class="btn-press" ng-class="{'active' : (my_bets[match.id].bet.bet==2)}" ng-model="my_bets[match.id].bet.bet" value="2" ng-click='betMatch(<%= @user_group.id %>, match.id, 2)'>
						<img ng-src="/assets/teams/<%= base_img %>/{{match.away_team.team.code | lowercase}}_thumb.png" ></img>
						<label>{{match.away_team.team.name}}</label>
					</button>
				</div>
				<div class="text-center" ng-class="{'hide' : (!match.is_expired)}">
					<label>{{match.away_team.team.name}}</label>
					<img ng-src="/assets/teams/<%= base_img %>/{{match.away_team.team.code | lowercase}}_thumb.png" ></img>
				</div>
			</td>
		</tr>
	</tbody>
</table>