<%- model_class = UserGroup -%>
<div class="page-header">
	<h1>Mis Grupos</h1>
</div>

<div ng-cloak class="ng-cloak">
	<!-- <form ng-submit="createUserGroup()" class="col-md-4">
		<div class="input-group">
		<input type="text" class="form-control" placeholder="Nuevo grupo" ng-model="newName">
		<span class="input-group-btn">
			<button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i></button>
		</span>
		</div>
		<div class="input-group">
		<select class="form-control" ng-model="newLeague" ng-init="newLeague = <%= @leagues.first.id %>">
		<% @leagues.each do |league| %>
			<option value="<%= league.id %>"><%= league.name %></option>
		<% end %>
		</select>
		</div>
	</form> -->
	<!-- <form ng-submit="searchUserGroup()" class="col-md-4">
		<div class="input-group">
		<input type="text" class="form-control" placeholder="Buscar..." ng-model='searchName'>
		<span class="input-group-btn">
			<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
		</span>
		</div>
	</form> -->
<!--   <input type="text" ng-model='newName' placeholder="Nuevo nombre">
	<input type="submit" value="Crear">
<form ng-submit="searchUserGroup()">
	<input type="text" ng-model='searchName' placeholder="Buscar...">
	<input type="submit" value="Buscar">
</form> -->
	<table class="table table-hover tbl-groups">
		<!-- <caption class="table-title"><%= "Grupo " %></caption> -->
		<thead>
			<tr>
				<!-- <th class="col-md-3">Nombre</th>
				<th class="col-md-7">Miembros</th> -->
				<!-- <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
				<!-- <th class="col-md-2"></th> -->
				<th class="col-md-10"></th>
				<th class="col-md-2"></th>
			</tr>
		</thead>
		<tbody>
			<tr class="row-group" ng-repeat="user_group in user_groups | filter: {name: searchName }">
			<!-- <td><%= link_to "{{user_group.id}}", "user_groups/{{user_group.id}}" %></td> -->
			<!-- <td>{{user_group.user.email}}</td> -->
				<td>
					<div class="group-name">{{user_group.name}}</div>
					<div class="group-league"><img ng-src="{{user_group.league.avatar_thumb_url}}" />{{user_group.league.name}}</div>
				</td>
				<!-- <td>{{user_group.members}}</td> -->
				<!-- <td>
					<div class="groupMembers">
					<span ng-repeat="member in user_group.members">
						<!-- {{member.email}}<br/> ->
						{{member.user.email}}<br/>
					</span>
					</div>
					<form ng-submit="inviteUser(user_group.id, $index)" class="col-md-6">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Ingresa el email de quien quieras invitar" ng-model='user_groups[$index].newMemberEmail'>
						<span class="input-group-btn">
							<button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i></button>
						</span>
					</div>
					</form>
				</td> -->
				<td class="tbl-group-links">
					<%= #link_to "Ver Grupo", "user_groups/{{user_group.id}}", :class => 'btn btn-mini' 
					%>
					<!-- <a href='' class="btn btn-mini btn-danger" ng-click="deleteUserGroup(user_group.id, $index)">Borrar</a> -->
					<a ng-href='user_groups/{{user_group.id}}' class="">
						<i class='fa fa-angle-right'></i>
					</a>
					<!--<%= link_to "<i class='fa fa-angle-right'></i>".html_safe, "user_groups/{{user_group.id}}", :class => '' %>-->
				</td>
			</tr>
		</tbody>
	</table>
</div>