<div ng-controller="UserGroupsCtrl" ng-init="init(<%= @user_group.id %>)">
<div class="page-header">
	<% if (@user_group.league.name == "Torneo Final 2014") %>
		<div class="league-avatar"><%= image_tag ('logos/afa.png') %></div>
	<% else %>
		<div class="league-avatar"><%= image_tag ('logos/fifa_wc2014.png') %></div>
	<% end %>
	<h1><%= @user_group.name %></h1>
	<h3><%= @user_group.league.name %></h3>
</div>

<form ng-submit="inviteMember(current_group.id, null)" class="col-md-6 invite-user">
	<div class="input-group">
		<input type="email" class="form-control" placeholder="Ingresa el email de quien quieras invitar" ng-model='newMemberEmail' required="required">
		<span class="input-group-btn">
			<button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i></button>
		</span>
	</div>
</form>

<div class="form-actions">
	<%= #link_to t('.back', :default => t("helpers.links.back")),
		#					user_groups_path, :class => 'btn btn-primary'
	%>
	<%= link_to "ver fixture<i class='fa fa-angle-right'></i>".html_safe, user_group_fixture_path, :class => '' %>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="col-md-1"></th>
			<th class="col-md-9">Nombre</th>
			<th class="col-md-1 text-center">Pts</th>
			<th class="col-md-1 text-center">%</th>
		</tr>
	</thead>
	<tbody>
		<% position = 1 %>
		<% @members_scored.each do |member| %>
			<tr>
				<td><%= position %></td>
				<td>
					<%= image_tag member.user.avatar(:thumb), :class => 'img img-thumb' %>
					<%= member.user.email %>
				</td>
				<td class="text-center"><%= member.score %></td>
				<td class="text-center">-</td>
			</tr>
			<% position+=1 %>
		<% end %>
	</tbody>
</table>
</div>