<p id="notice"><%= notice %></p>

<p>
  <strong>User group member:</strong>
  <%= @bet.user_group_member_id %>
</p>

<p>
  <strong>Match:</strong>
  <%= @bet.match_id %>
</p>

<p>
  <strong>Bet:</strong>
  <%= @bet.bet %>
</p>

<%= link_to 'Edit', edit_bet_path(@bet) %> |
<%= link_to 'Back', bets_path %>
