<div class="jumbotron">
	<h1>PROde online.</h1>
	<p>El primer sitio online donde podés hacer tus pronosticos deportivos.</p>
<%= devise_error_messages! %>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

	  <div><%= f.label :email %><br />
	  <%= f.email_field :email, :autofocus => true %></div>

	  <div><%= f.label :password %><br />
	  <%= f.password_field :password %></div>

	  <% if devise_mapping.rememberable? -%>
	    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
	  <% end -%>

	  <div><%= f.submit "ENTRAR", :class => 'btn btn-primary' %></div>
	<% end %>

	<%= link_to "<i class='fa fa-facebook'></i> | Entrar con Facebook".html_safe, omniauth_authorize_path(resource_name, 'facebook'), :class => 'btn btn-facebook' %>
	<%= link_to "<i class='fa fa-google-plus'></i> | Entrar con Google".html_safe, omniauth_authorize_path(resource_name, 'google_oauth2'), :class => 'btn btn-google-plus' %>

	<br />
	<!-- 
	<button class="btn btn-facebook"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
	<button class="btn btn-google-plus"><i class="fa fa-google-plus"></i> | Connect with Google</button>
	-->

	<br /><br />
	<p>Todavía no te registraste? Que estas esperando?</p>
	<%= link_to "REGISTRARSE", new_user_registration_path, :class => 'btn btn-primary' %><br />
	<!--
	<%= render "devise/shared/links" %>
	-->
</div>
